.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
}
@media screen and (min-width: 1024px) {
  .App {
    width: 1024px;
  }
}
@media screen and (min-width: 1620px) {
  .App {
    width: 1620px;
  }
}
